{% extends 'base2.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "bots" %}{% endblock title %}


{% block style %}
    <style>
        #chartdiv, #chartdiiiv {
            width: 90%;
        }

        #chart1, #chart2, #chart3 {
            width: 90%;
        {#height: 300px;#}
        }

        #service_table thead tr th {
            font-weight: bolder;
            font-size: 1.25rem;

        }

        #service_table tbody tr td, #service_table tbody tr th {
            font-weight: bold;
            padding-top: 1rem;
            padding-bottom: 1rem;
            font-size: 1.25rem;
        }
    </style>
{% endblock %}
{% block page_content2 %}


{% endblock page_content2 %}
{% block page_js %}
    <script>
        var element = document.getElementById("menu_bot");
        element.classList.add("active");
    </script>

    <script>
        $(document).ready(function () {


            $("#add_ip_range").click(function (event) {
                var count = $('#ip_ul li').length - 1
                $('#ip_ul').append(`<li class="ip row align-items-baseline">
                       <p class="col-4" ><input class="start_ip" type="text"
                                           name = "ip_start_` + count + `"
                                           id = "ip_start_` + count + `"
                                          inputmode="numeric"
                                             pattern="[0-9\s.]{7,15}"
                                            autocomplete="cc-number"
                                         maxlength="15"
                                           placeholder="ipv4"></p>
                        <p class="col-4" ><input class="end_ip" type="text"
                                           name = "ip_end_` + count + `"
                                           id = "ip_end_` + count + `"
                                          inputmode="numeric"
                                            pattern="[0-9\s.]{7,15}"
                                         autocomplete="cc-number"
                                        maxlength="15"
                                         placeholder="ipv4"></p>
                       <hr></li>`)
                //  $('#ip_ul').append(`<li class="ip row align-items-baseline">
                //   <p class="col-4" ><input class="start_ip" type="text"
                //                     inputmode="numeric"
                //                        pattern="[0-9\s.]{7,15}"
                //                        autocomplete="cc-number"
                //                    maxlength="15"
                //                       placeholder="ipv4"></p>
                //   <p class="col-4" ><input class="end_ip" type="text"
                //                       inputmode="numeric"
                //                        pattern="[0-9\s.]{7,15}"
                //                      autocomplete="cc-number"
                //                     maxlength="15"
                //                     placeholder="ipv4"></p>
                //    <a class="col-4 delete_item" href="#">
                //   <i class="fa fa-remove text-danger fa-lg" aria-hidden="true"></i> </a><hr></li>`)
                event.preventDefault();

            });
            $("#ip_ul").on("click", '.fa-remove', function (event) {
                event.preventDefault();
                li_data = $(this).closest('li').remove();

            });


            var frm = $("#search_form")
            var data_form = {}
            var date_start = $('#date_start').val()
            var date_end = $('#date_end').val()
            data_form['date_start'] = date_start
            data_form['date_end'] = date_end
            // data_form = {}

            frm.submit(function (event) {
                // from_text_miladi = document.getElementById('start_date_miladi');
                // to_text_miladi = document.getElementById('end_date_miladi');
                //  time_from = $('#start_date_miladi').val()
                //  time_to = $('#end_date_miladi').val()
                //  ip = $("#my_custom_lable").text()
                // data_s = frm.serialize()
                // console.log(data_s)
                const count = $('#ip_ul li').length - 1
                var ip_e;
                var ip_s;
                for (let i = 0; i < count; i++) {
                    id_start = 'ip_start_' + i
                    id_end = 'ip_end_' + i


                    ip_s = $('#'+id_start).val()
                    ip_e = $('#'+id_end).val()
                    if (ip_s && ip_e) {
                        data_form[id_start] = ip_s
                        data_form[id_end] = ip_e

                    }
                }

                console.log(data_form)

                // ajax
                $.ajax({
                    type: 'POST',
                    url: "http://127.0.0.1:8000/",
                    //data: {
                    //    csrfmiddlewaretoken: '{{ csrf_token }}',
                    //     'time_from': time_from,
                    //     'time_to': time_to,
                    //     'ip': ip
                    // },
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        'data_form': JSON.stringify(data_form),
                        {#'data_form': data_form,#}
                    },
                    success: function (data) {
                        // console.log(data)

                    },
                    error: function (xhr, type, exception) {
                        // if ajax fails display error alert
                        //   alert("login faild ");
                        //   alert(xhr)
                        //   alert(type)
                        //   alert(exception)
                        //  window.location = "./";
                        console.log('error')
                    }
                });

                event.preventDefault();
            })

            //  $.ajax({
            //     type: 'GET',
            //      url: "http://127.0.0.1:8000/info/bots_page/",
            //      success: function (data) {
            //console.log(data);

            //         get_area_chart('area_chart', data.area_results.categories, data.area_results.values, 'تعداد آدرس آلوده');
            //          get_bar_chart('malware_chart', data.malware_results, 'تعداد', 20, false, false, data.malware_drilldown);
            //         get_bar_chart('ip_chart', data.ip_results, 'تعداد', 50);
            //         get_bar_chart('server_control_chart', data.server_control_results, 'تعداد', 50);
            //        $.each(data.list_server_control_results,function(index,value){
            //         $('tbody').append('<tr> <th scope="row">'+(index+1)+'</th><td>'+value[0]+'</td> <td>'+value[1]+'</td> </tr>');
            //         });

            //    },
            //  setTimeout(function(){
            // Code to run after the pause
            //  }, 4000);
            //  window.location = "/";
            // window.history.go(-1)
            // window.navigate("home.html")
            // error: handleAjaxError
            //     error: function (xhr, type, exception) {
            //        console.log("No authenticated");
            // window.location=("/auth/login")


            //     }
            //   });

        });

    </script>
{% endblock %}